@page "/dichvu"
@using DoAn_HoangDucLuu.Shared

<PageTitle>Dịch Vụ</PageTitle>

<h3>Dịch Vụ</h3>

<div class="container">
    <h2 style="color: #333; text-align: center;">Dịch vụ</h2>
    <ul>
        <li>
            <strong style="color: #007bff;">Dịch vụ tư vấn sản phẩm:</strong> Chúng tôi có đội ngũ nhân viên chuyên nghiệp sẵn lòng tư vấn và giúp đỡ bạn chọn lựa các sản phẩm phù hợp với nhu cầu và mục đích sử dụng của bạn.
        </li>
        <div class="img-container">
            <img src="https://tuha.vn/storage/cach-cham-soc-khach-hang-thoi-trang-ban-can-biet.jpg" alt="Supersports" />
        </div>
        <li>
            <strong style="color: #007bff;">Dịch vụ đo chân chuyên nghiệp:</strong> Chúng tôi cung cấp dịch vụ đo chân chuyên nghiệp để giúp bạn chọn được size giày phù hợp nhất, đảm bảo sự thoải mái và an toàn khi sử dụng.
        </li>

        <li>
            <strong style="color: #007bff;">Dịch vụ tư vấn về lựa chọn trang phục thích hợp:</strong> Hãy để chúng tôi hướng dẫn bạn lựa chọn trang phục thích hợp cho các hoạt động thể thao cụ thể, từ yoga, bóng đá đến bơi lội.
        </li>
        <li>
            <strong style="color: #007bff;">Dịch vụ sửa chữa và bảo dưỡng sản phẩm:</strong> Chúng tôi cung cấp dịch vụ sửa chữa và bảo dưỡng các sản phẩm thể thao để đảm bảo chúng luôn trong tình trạng hoạt động tốt nhất.
        </li>
        <li>
            <strong style="color: #007bff;">Dịch vụ giao hàng và lắp đặt:</strong> Chúng tôi cam kết giao hàng nhanh chóng và tiện lợi, cũng như hỗ trợ bạn lắp đặt các sản phẩm một cách dễ dàng và chính xác.
        </li>
        <li>
            <strong style="color: #007bff;">Dịch vụ khắc phục sự cố:</strong> Nếu gặp bất kỳ vấn đề nào về sản phẩm, hãy liên hệ với chúng tôi để được hỗ trợ và giải quyết mọi sự cố một cách nhanh chóng và hiệu quả.
        </li>
        <li>
            <strong style="color: #007bff;">Dịch vụ sau bán hàng:</strong> Chúng tôi luôn ở đây để hỗ trợ bạn sau khi mua sản phẩm, đảm bảo sự hài lòng của bạn và giải đáp mọi thắc mắc sau bán hàng.
        </li>
    </ul>
</div>

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    h2, h3 {
        color: #333;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 10px;
    }

    strong {
        font-weight: bold;
    }

    .img-container {
        text-align: center;
        margin: 20px 0;
    }

        .img-container img {
            max-width: 100%;
            border-radius: 5px;
        }
</style>
