@page "/lienhe"
@using DoAn_HoangDucLuu.Shared

<div class="container">
    <h2 style="color: #1a1a1a; font-size: 24px; font-weight: bold;">Thông tin liên hệ</h2>
    <p>Email Bộ phận Chăm Sóc Khách Hàng (Offline + Online): <a href="mailto:21K4080025@hce.edu.vn" style="color: #007bff; text-decoration: none;">21K4080025@hce.edu.vn</a></p>
    <p style="color: #1a1a1a;">Hotline: <span style="color: #007bff;">0932 768 9302</span></p>
    <p style="color: #1a1a1a;">Địa chỉ:</p>
    <p style="color: #1a1a1a;">Công ty TNHH Một Thành Viên Thương Mại Thời Trang Tổng Hợp (GTF)</p>
    <p style="color: #1a1a1a;">Số 15 Hồ Đắc Di</p>
    <p style="color: #1a1a1a;">Hỗ trợ khách hàng:</p>
    <ul>
        <li style="color: #1a1a1a;">Thời gian nhận Email: <span style="color: #007bff;">09:00 - 22:00 (Thứ 2 - Chủ nhật)</span></li>
        <li style="color: #1a1a1a;">Thời gian nhận Hotline: <span style="color: #007bff;">09:00 - 18:00 (Thứ 2 - Chủ nhật)</span></li>
    </ul>
</div>

<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2, h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>
